<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Auto</title>
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class='bg-image'>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="{{url_for('static',filename='thunder.png')}}" width="30" height="30" class="mr-2" alt="Quick-Mail">
        Quick-Mail
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Campaigns</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Analytics</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="content">
    <div class="container mt-4">
      <form action="{{ url_for('submit_form') }}" method="post">
        <div class="form-group">
          <label for="email" class="form-label"  >Email</label>
          <input type="email" class="form-control form-control-sm" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="subject" class="form-label">Subject</label>
          <input type="text" class="form-control form-control-sm" id="subject" name="subject" required>
        </div>
        <div class="form-group">
          <label for="body" class="form-label">Body</label>
          <textarea class="form-control form-control-sm" id="body" name="body" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
      </form>
    </div>
  </div>

  <footer class="footer mt-auto py-3 bg-dark text-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>Contact Us</h5>
          <p>Git: <a href='https://github.com/ShivamRIG'> ShivamRIG </a></p>
          <p> X : <a href='https://twitter.com/ShivamSingh80_0'>ShivamSingh80_0</a></p>
          <p>Email: shivamsingh8461@gmail.com</p>
          <p>Address:  Pune | Mumbai, India</p>

        </div>
        <div class="col-md-6">
          <h5>Follow Us</h5>
          <p>Connect with us on social media:</p>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Facebook</a></li>
            <li class="list-inline-item"><a href="#">Twitter</a></li>
            <li class="list-inline-item"><a href="#">Instagram</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>&copy; 2024 Your Company Name. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
